body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    overflow-y: auto;
}

.wrapper {
    max-width: 1920px;
    max-height: 1080px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 120%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bayan {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 1.25% auto;
    padding: 1.25%;
    width: 50%;
}

.active {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 1.25% auto;
    padding: 1.25%;
    width: 50%;
}

.bayan-title {
    display: block;
    cursor: pointer;
    transition: color .3s ease-out;
    position: relative;
    background-image: url(../assets/icons/plus.svg);
    background-repeat: no-repeat;
    background-position: right;
    font-weight: 400;
    font-size: 130%;
}

.bayan-title:hover {
    color: blue;
}

.bayan-item {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.bayan-item--active {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.mem {
    display: none;
    margin: 1.25% auto;
}

.mem img {
    width: 50%;
    height: 50%;
    padding: 1.25%;
}

.mem-action img {
    width: 50%;
    height: 50%;
    padding: 1.25%;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.img-1:hover,
.img-2:hover,
.img-3:hover,
.img-4:hover,
.img-5:hover {
    cursor: pointer;
    transform: scale(2);
    transition: all .3s ease-in-out;
}

.action input,
.mem-action,
.bayan-item--active ~ .bayan-title {
    display: block;
}

.bayan-item--active:checked ~ .mem-action {
    display: none;
}

.mem-action:checked + .mem-action {
    display: none;
}


.mem-action > .img-1:checked {
    display: none;
}

.bayan-item--active ~ .bayan-title {
    color: blue;
    background-image: url(../assets/icons/times.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.bayan-item:checked ~ .bayan-title {
    color: blue;
    background-image: url(../assets/icons/times.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.bayan-item--active:checked ~ .bayan-title {
    color: black;
    background-image: url(../assets/icons/plus.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.bayan-item:hover ~ .bayan-title {
    color: blue;
    background-image: url(../assets/icons/times.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.bayan-item--active:hover ~ .bayan-title {
    color: blue;
    background-image: url(../assets/icons/times.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.bayan-title:hover ~ .mem,
.bayan-item:checked ~ .mem {
    color: blue;
    display: block;
}


.bayan-title--active:hover ~ .mem-action {
    color: blue;
    display: block;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25%;
}
